@page
@model IndexModel
@{
    ViewData["Title"] = "AKS Regulated Cluster Demo Workload";
}

<h1>AKS Baseline Cluster for Regulated Workloads</h1>

<p>
    To demonstrate the zero-trust network infrastructure in place, this web front end has kicked off a
    series of web requests both within and external to the cluster. Most of the traffic will be blocked
    by the zero-trust network in place. Only specific traffic will be allowed. This traffic is flow is
    managed by a combination of layer 7 service mesh rules, layer 3/4 Kubernetes NetworkPolicies, Azure
    NSGs, and Azure Firewall rules with many overlapping rules for defense-in-depth.
</p>
<p>
    Not viaulized here is that all of the in-cluster, service-to-service communication is being performed via
    mTLS and using Kuberentes service authentication to establish trust relationships. All of the 
    <code>http://microservice-*</code> calls are rewritten as a TLS connection by the mesh while traversing
    the network.
</p>
<p>
    All internal and external network flows are denied by default. The following are the allowed in-cluster network flows.
    <ul style="list-style-type: none;">
        <li>✔️ Ingress Controller ➡️ web-frontend (this site)</li>
        <li>✔️ web-frontend ➡️ microservice-a</li>
        <li>✔️ microservice-a ➡️ microservice-b</li>
        <li>✔️ microservice-b ➡️ microservice-c</li>
    </ul>
</p>
<p>
    Allowed external network flows are the following.
    <ul style="list-style-type: none;">
        <li>✔️ web-frontend ➡️ packages.microsoft.com</li>
        <li>✔️ microservice-a ➡️ packages.microsoft.com</li>
    </ul>
</p>
<h2>Network Traffic Call Chain</h2>
<div>@Html.Raw(Model.FormatedResult)</div>